<extend name="Public/layout"/>
<block name="style" >
    <link rel="stylesheet" type="text/css" href="__LYUI__/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/kindeditor/themes/default/default.css" />
</block>

<block name="main">
    <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>

            <li class="text-muted">新增/修改</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                        <div class="row" >
                            <div class="col-xs-12">
                                <form action="__SELF__" method="post" class="form-horizontal form form-builder">
                                    <div class="form-type-list">
                                        <div class="form-group hidden item_id ">
                                            <label class="left control-label">ID：</label>
                                            <div class="right">
                                                <input type="hidden" class="form-control input" name="id" value="{$info.id}">
                                            </div>
                                        </div>



                                      <!--  <div class="form-group">
                                            <label class="left control-label">图片：</label>
                                            <input type="hidden" name="img" id="imgs" />
                                            <div class="right">
                                                <img src="" id="show" width="100" height="50">
                                                <input type="button" id="uploadButton" value="上传图片" />
                                            </div>
                                        </div>-->
                                        <div class="form-group item_title ">
                                            <label class="left control-label">标题：</label>
                                            <div class="right">
                                                <input type="text" class="form-control input" name="title" value="{$info.name}" placeholder="请输入标题" >
                                            </div>
                                        </div>
                                        <div class="form-group item_title ">
                                            <label class="left control-label">内容：</label>
                                            <div class="right">
                                                <textarea name="content" style="width:100%;height:200px;"></textarea>
                                            </div>
                                        </div>




                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
    <script>
        var editor;

        KindEditor.ready(function(K) {


            editor = K.create('textarea[name="content"]', {
                allowFileManager: true,
                afterBlur: function () { this.sync(); }
            });
            K('input[name=sub]').click(function(e) {
                var e = editor.html();


            });
            K('input[name=isEmpty]').click(function(e) {
                alert(editor.isEmpty());
            });
            K('input[name=getText]').click(function(e) {
                alert(editor.text());
            });
            K('input[name=selectedHtml]').click(function(e) {
                alert(editor.selectedHtml());
            });
            K('input[name=setHtml]').click(function(e) {
                editor.html('<h3>Hello KindEditor</h3>');
            });
            K('input[name=setText]').click(function(e) {
                editor.text('<h3>Hello KindEditor</h3>');
            });
            K('input[name=insertHtml]').click(function(e) {
                editor.insertHtml('<strong>插入HTML</strong>');
            });
            K('input[name=appendHtml]').click(function(e) {
                editor.appendHtml('<strong>添加HTML</strong>');
            });
            K('input[name=clear]').click(function(e) {
                editor.html('');
            });
        });


        $(document).ready(function () {
            $("#div_banner").show();

            $("#isbanner").bind("click", function () {
                if ($(this).prop('checked')) {
                    $(this).val(1);
                    //$("#div_banner").show();
                } else {
                    $(this).val(0);
                    //$("#div_banner").hide();
                }

            });

        });
    </script>
</block>

<block name="script">
    {$extra_html}
    <script type="text/javascript" src="__LYUI__/js/lyui.extend.min.js"></script>
</block>